
.navbar {
    background-color: #f1f1f1;
    overflow: hidden;
}
.navbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.navbar a:hover {
    background-color: #ddd;
}
/* CSS styles for the table */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: #f5f5f5;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
}
.button.edit {
    background-color: #008CBA;
}
.button.delete {
    background-color: #f44336;
}

.user-details {
    text-align: center;
    margin-top: 20px;
}